In [ ]:
#Import library
import pandas as pd
import time
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn import preprocessing

In [ ]:
#1. Import our training and testing dataset
df_training = pd.read_csv("data/train.csv",header=0,index_col='id')
print("size of training data:"+str(len(df_training)))
df_testing = pd.read_csv("data/test.csv",header=0,index_col=None)
print("size of testing data:"+str(len(df_testing)))

size of training data:87
size of testing data:59

In [ ]:
df_training

,MO HLADR+ MFI (cells/ul),Neu CD64+MFI (cells/ul),CD3+T (cells/ul),CD8+T (cells/ul),CD4+T (cells/ul),NK (cells/ul),CD19+ (cells/ul),CD45+ (cells/ul),Age,Sex 0M1F,Mono CD64+MFI (cells/ul),label
id,,,,,,,,,,,,
0,3556.0,2489.0,265.19,77.53,176.55,0.00,4.20,307.91,52,0,7515.0,1
1,1906.0,134.0,1442.61,551.90,876.07,112.10,168.15,1735.48,20,1,1756.0,0
2,1586.0,71.0,1332.74,684.20,655.26,244.95,216.52,1820.04,28,1,1311.0,0
3,683.0,94.0,419.23,255.80,162.17,72.05,44.68,538.22,55,1,1443.0,0
4,1032.0,71.0,1102.72,480.27,625.30,188.78,130.77,1427.97,28,1,1542.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
82,626.0,68.0,1771.57,666.99,1117.48,360.21,118.84,2306.82,42,1,1521.0,0
83,1237.0,71.0,1348.53,428.09,924.69,120.02,48.67,1524.78,56,0,1345.0,0
84,634.0,1002.0,1300.00,558.00,724.00,67.00,105.00,1484.26,34,0,2926.0,1
85,112.0,884.0,942.83,378.49,567.06,116.77,31.81,1104.59,33,1,2352.0,1
86,195.0,213.0,724.00,364.00,361.00,18.00,155.00,897.00,19,1,2445.0,1

In [ ]:
df_testing

,id,MO HLADR+ MFI (cells/ul),Neu CD64+MFI (cells/ul),CD3+T (cells/ul),CD8+T (cells/ul),CD4+T (cells/ul),NK (cells/ul),CD19+ (cells/ul),CD45+ (cells/ul),Age,Sex 0M1F,Mono CD64+MFI (cells/ul)
0,0,2843.0,156.0,1358.52,730.78,637.85,127.06,94.82,1588.62,45,1,3256.0
1,1,437.0,137.0,509.43,268.05,243.07,390.86,98.24,1002.76,51,1,491.0
2,2,826.0,82.0,1232.22,493.42,744.08,516.28,320.15,2200.58,32,0,1381.0
3,3,861.0,50.0,1512.86,925.51,590.07,380.25,25.80,1929.10,50,0,1377.0
4,4,1160.0,157.0,890.42,403.91,489.53,266.92,87.63,1251.52,43,0,1844.0
5,5,867.0,85.0,1662.11,865.50,804.14,220.68,92.58,2063.11,44,1,986.0
6,6,1330.0,114.0,1307.95,710.86,607.96,271.01,214.49,1855.05,31,0,2077.0
7,7,494.0,48.0,1522.39,618.19,911.49,338.85,104.45,2013.05,36,1,1409.0
8,8,2119.0,73.0,1219.66,732.14,468.48,71.54,83.08,1378.32,45,1,2403.0
9,9,2052.0,39.0,1223.65,642.55,565.39,323.67,153.64,1711.88,36,0,1701.0
10,10,4195.0,134.0,1513.79,776.94,752.60,110.28,142.50,1780.88,45,1,3160.0
11,11,819.0,1000.0,794.33,391.72,407.35,312.61,113.20,1236.72,45,0,4086.0
12,12,685.0,60.0,470.04,114.98,321.32,174.86,31.49,679.19,62,0,737.0
13,13,1330.0,114.0,1307.95,710.86,607.96,271.01,214.49,1855.05,31,0,2077.0
14,14,82.0,30.0,693.25,426.73,272.51,956.78,120.53,1825.96,27,0,371.0
15,15,781.0,43.0,1537.36,922.55,620.05,142.08,66.13,1771.11,36,0,930.0
16,16,2140.0,125.0,2771.20,1738.55,1006.96,367.85,203.45,3355.86,27,1,2183.0
17,17,1005.0,93.0,1061.65,379.12,683.06,99.71,76.25,1241.34,33,0,1269.0
18,18,1202.0,39.0,716.76,272.92,447.73,89.55,121.08,931.68,54,1,643.0
19,19,660.0,43.0,886.57,225.68,620.75,196.49,106.33,1202.41,54,0,814.0
20,20,1289.0,272.0,583.00,206.00,373.00,18.00,59.00,660.00,29,0,2581.0
21,21,2238.0,539.0,850.05,438.98,352.71,235.14,91.35,1182.46,44,0,4361.0
22,22,127.0,81.0,435.00,259.00,166.00,57.00,60.00,558.00,54,1,856.0
23,23,880.0,38.0,773.79,369.33,412.49,412.99,55.20,1257.03,34,0,800.0
24,24,3232.0,72.0,2017.32,850.72,1176.28,440.86,501.91,2964.93,15,1,1517.0
25,25,902.0,1141.0,258.01,168.63,99.18,45.46,8.83,314.25,50,1,3244.0
26,26,922.0,167.0,2122.97,1443.00,689.42,87.11,122.22,2369.43,36,0,1995.0
27,27,1520.0,67.0,829.56,293.00,511.00,403.13,144.62,1378.89,47,1,1700.0
28,28,313.0,382.0,632.45,289.46,346.06,138.08,44.32,816.55,53,0,2656.0
29,29,1240.0,59.0,1071.75,513.58,443.52,110.01,125.65,1311.46,50,1,1203.0
30,30,1208.0,460.0,1492.00,422.00,1048.00,56.00,23.00,1571.00,55,1,1761.0
31,31,601.0,1080.0,306.71,210.30,98.45,57.50,71.73,436.83,39,0,4413.0
32,32,1814.0,143.0,627.33,268.55,376.05,155.43,46.63,833.27,52,0,1298.0
33,33,232.0,615.0,352.11,221.62,131.79,74.31,170.87,601.47,41,0,1040.0
34,34,1078.0,238.0,755.15,345.75,413.33,779.42,76.76,1648.73,52,0,2506.0
35,35,1085.0,24.0,1970.56,1296.13,601.93,388.11,186.00,2549.06,34,0,639.0
36,36,1851.0,95.0,1498.79,983.18,525.76,147.51,50.75,1701.79,45,1,2347.0
37,37,402.0,378.0,544.54,227.96,327.85,283.54,36.11,898.00,39,0,1849.0
38,38,909.0,574.0,326.77,244.91,80.39,42.97,16.01,386.90,47,0,3969.0
39,39,1296.0,148.0,1328.00,642.00,670.00,666.11,266.87,2267.31,51,0,2061.0
40,40,1784.0,474.0,337.75,133.11,204.64,25.50,16.00,379.25,42,0,6788.0
41,41,676.0,64.0,622.25,345.00,221.00,50.60,56.04,731.13,29,0,1660.0
42,42,629.0,76.0,427.06,240.16,138.57,83.83,2.96,525.20,42,0,1391.0
43,43,721.0,117.0,983.00,449.00,539.00,141.00,76.00,1200.00,37,0,2771.0
44,44,1733.0,134.0,1443.62,770.62,613.22,85.40,227.47,1760.90,42,1,1501.0
45,45,1546.0,184.0,832.08,621.01,210.58,141.36,63.86,1043.63,51,0,2281.0
46,46,838.0,226.0,1025.32,728.71,296.61,187.36,135.49,1358.55,38,1,1662.0
47,47,740.0,187.0,530.77,154.69,377.34,40.07,45.14,618.76,31,0,2617.0
48,48,494.0,61.0,1568.54,937.00,601.00,246.48,165.92,1983.61,38,0,1923.0
49,49,1700.0,71.0,1106.54,503.71,547.54,363.45,176.67,1650.03,48,0,1617.0
50,50,1175.0,60.0,847.11,362.52,486.42,512.66,116.57,1486.10,47,0,2013.0
51,51,1956.0,152.0,1786.48,783.82,952.42,194.75,198.19,2188.36,40,1,2251.0
52,52,1122.0,66.0,1955.03,1080.16,879.77,111.60,100.20,2201.04,30,0,1468.0
53,53,2492.0,60.0,2278.56,937.47,1225.68,252.10,304.97,2864.00,21,1,924.0
54,54,708.0,248.0,1304.86,433.61,789.19,257.43,122.28,1691.81,37,1,1669.0
55,55,560.0,74.0,727.01,227.25,502.48,159.80,106.38,1011.29,54,0,1235.0
56,56,1948.0,264.0,1836.00,838.96,819.69,184.56,105.53,1943.45,35,1,2126.0
57,57,1010.0,90.0,1061.65,379.12,683.06,99.71,76.25,1241.34,34,0,1319.0
58,58,674.0,380.0,393.49,256.02,137.27,17.72,63.81,479.55,40,0,3095.0

In [ ]:
# using dropna() function to drop rows with at least one column with null value
df_training.dropna(inplace=True)

In [ ]:
X=df_training[['MO HLADR+ MFI (cells/ul)','Neu CD64+MFI (cells/ul)','CD3+T (cells/ul)','CD8+T (cells/ul)','CD4+T (cells/ul)','NK (cells/ul)','CD19+ (cells/ul)','CD45+ (cells/ul)','NK (cells/ul)','Age','Sex 0M1F','Mono CD64+MFI (cells/ul)']]  # Features
y=df_training['label']  # Labels

In [ ]:
X

,MO HLADR+ MFI (cells/ul),Neu CD64+MFI (cells/ul),CD3+T (cells/ul),CD8+T (cells/ul),CD4+T (cells/ul),NK (cells/ul),CD19+ (cells/ul),CD45+ (cells/ul),NK (cells/ul),Age,Sex 0M1F,Mono CD64+MFI (cells/ul)
id,,,,,,,,,,,,
0,3556.0,2489.0,265.19,77.53,176.55,0.00,4.20,307.91,0.00,52,0,7515.0
1,1906.0,134.0,1442.61,551.90,876.07,112.10,168.15,1735.48,112.10,20,1,1756.0
2,1586.0,71.0,1332.74,684.20,655.26,244.95,216.52,1820.04,244.95,28,1,1311.0
3,683.0,94.0,419.23,255.80,162.17,72.05,44.68,538.22,72.05,55,1,1443.0
4,1032.0,71.0,1102.72,480.27,625.30,188.78,130.77,1427.97,188.78,28,1,1542.0
...,...,...,...,...,...,...,...,...,...,...,...,...
82,626.0,68.0,1771.57,666.99,1117.48,360.21,118.84,2306.82,360.21,42,1,1521.0
83,1237.0,71.0,1348.53,428.09,924.69,120.02,48.67,1524.78,120.02,56,0,1345.0
84,634.0,1002.0,1300.00,558.00,724.00,67.00,105.00,1484.26,67.00,34,0,2926.0
85,112.0,884.0,942.83,378.49,567.06,116.77,31.81,1104.59,116.77,33,1,2352.0
86,195.0,213.0,724.00,364.00,361.00,18.00,155.00,897.00,18.00,19,1,2445.0

In [ ]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [ ]:
X_test

,MO HLADR+ MFI (cells/ul),Neu CD64+MFI (cells/ul),CD3+T (cells/ul),CD8+T (cells/ul),CD4+T (cells/ul),NK (cells/ul),CD19+ (cells/ul),CD45+ (cells/ul),NK (cells/ul),Age,Sex 0M1F,Mono CD64+MFI (cells/ul)
id,,,,,,,,,,,,
77,1202.0,258.0,563.25,288.73,277.59,306.77,81.40,962.17,306.77,43,0,2027.0
42,602.0,98.0,770.62,499.81,276.71,214.92,76.34,1071.42,214.92,49,1,1566.0
11,1100.0,109.0,1051.61,458.99,604.24,878.04,103.85,2041.50,878.04,52,0,1755.0
17,751.0,147.0,980.73,418.43,558.83,280.80,129.28,1400.25,280.80,27,0,814.0
9,1412.0,243.0,1177.19,684.42,490.50,185.30,67.22,1441.06,185.30,36,1,1213.0
56,1055.0,87.0,913.42,410.52,507.04,77.46,43.08,1040.18,77.46,48,0,1728.0
54,1558.0,611.0,359.15,148.65,191.80,20.62,81.52,467.04,20.62,49,1,2189.0
48,2773.0,77.0,393.85,205.35,184.68,66.73,59.31,521.24,66.73,39,1,2182.0
6,1517.0,76.0,813.73,541.23,276.28,258.81,82.81,1179.27,258.81,42,0,1784.0
24,873.0,77.0,1078.60,578.66,499.93,194.20,253.25,1573.28,194.20,49,1,1591.0
80,1919.0,105.0,1187.33,675.03,477.04,225.83,100.23,1546.19,225.83,26,0,2601.0
35,693.0,245.0,266.48,103.61,164.11,147.95,87.03,504.15,147.95,49,0,2175.0
43,1679.0,79.0,483.21,162.00,309.00,227.05,101.09,817.24,227.05,39,0,4480.0
58,867.0,61.0,1444.66,701.69,758.53,590.72,43.98,2098.31,590.72,52,0,1148.0
53,1849.0,61.0,1237.55,483.23,788.77,815.06,245.70,2308.28,815.06,60,0,1443.0
69,1495.0,125.0,2910.03,1431.78,1517.81,446.94,401.45,3817.75,446.94,20,1,1793.0
62,1238.0,85.0,1468.00,702.00,613.00,604.00,174.00,2248.09,604.00,31,0,1697.0
4,1032.0,71.0,1102.72,480.27,625.30,188.78,130.77,1427.97,188.78,28,1,1542.0
45,1252.0,47.0,1365.68,625.41,695.11,767.77,62.84,2215.92,767.77,52,0,856.0
84,634.0,1002.0,1300.00,558.00,724.00,67.00,105.00,1484.26,67.00,34,0,2926.0
55,1526.0,515.0,504.21,193.91,313.46,42.04,23.81,572.73,42.04,50,0,2058.0
7,2623.0,126.0,642.98,329.66,316.59,167.89,85.38,899.51,167.89,41,0,1620.0
79,662.0,127.0,552.16,219.15,292.96,58.36,59.22,671.75,58.36,51,1,1350.0
41,222.0,82.0,1061.47,423.27,638.74,246.18,192.45,1519.28,246.18,33,0,1686.0
0,3556.0,2489.0,265.19,77.53,176.55,0.00,4.20,307.91,0.00,52,0,7515.0
67,1618.0,1253.0,947.10,355.39,593.51,104.63,77.12,1131.10,104.63,35,0,4946.0

In [ ]:
#Create a Random Forest Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [ ]:
y_pred

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1])

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8846153846153846

In [ ]:
#Predict test data
test_X=df_testing[['MO HLADR+ MFI (cells/ul)','Neu CD64+MFI (cells/ul)','CD3+T (cells/ul)','CD8+T (cells/ul)','CD4+T (cells/ul)','NK (cells/ul)','CD19+ (cells/ul)','CD45+ (cells/ul)','NK (cells/ul)','Age','Sex 0M1F','Mono CD64+MFI (cells/ul)']]  # Features
test_pred=clf.predict(test_X)

In [ ]:
test_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1])

In [ ]:
#Export result to submission csv file
submission = pd.DataFrame({'id': df_testing.id, 'label': [int(i) for i in test_pred]})
submission.head()
submission.to_csv('submission.csv', index=False)